venv/
**/ipynb_checkpoints/
**/data/crime_data/Crimes_-_2001_to_Present.csv
ipynb_checkpoints
.DS_Store
*.pyc
#instructions/*
#.github
ABNBVENV
AIRBNBVENV
crime.csv
InfoVis25_GroupProject/
walmarts-growth/
.parcel-cache/

node_modules/
.parcel-cache/
